<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title> Student Registration List</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>


<!-- ✅ Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/Students}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>






<h2 class = "text-center">Student Registration Form</h2>


<div class=" container">
    <div class ="row">

        <div class ="col-lg-6 col-mg-6 col-sm-6 container justify-container-center cord">
            <div style="font-size:30px; position: relative; right: 20px; text-align: center;">
                Create new Student
            </div>

            <div class = "card-body"> </div>

                 <form th:action="@{/students}" th:object="${student}" method="post">


                     <div class="form-group">
                         <label>Student First Name:</label>
                         <input type="text" th:field="*{firstname}" class="form-control" placeholder="Enter first name"/>
                     </div>

                     <div class="form-group">
                         <label>Student Last Name:</label>
                         <input type="text" th:field="*{lastname}" class="form-control" placeholder="Enter last name"/>
                     </div>

                     <div class="form-group">
                         <label>Email ID:</label>
                         <input type="email" th:field="*{emailId}" class="form-control" placeholder="Enter email"/>
                     </div>

                     <div class="form-group">
                         <label>Mobile Number:</label>
                         <input type="text" th:field="*{mobile}" class="form-control" placeholder="Enter mobile"/>
                     </div>


                     <div class ="box-footer">
    <button type="submit" class="btn btn-success ">Submit</button>

                     </div>

</form>
        </div>
    </div>
</div>

</body>

</html>